* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    --tt-primary: hsla(240, 6%, 21%, 1);

    --btn-c-primary: hsla(240, 6%, 21%, 1);
    --btn-c-selected: hsla(0, 0%, 100%, 1);
    --btn-bg-primary: hsla(240, 9%, 89%, 1);
    --btn-bg-selected: hsla(194, 97%, 31%, 1);

    --bg-primary: hsla(0, 0%, 100%, 1);

    /* Font */
    --ff-primary: 'Roboto', sans-serif;

    font-size: 62.5%;
}

svg path {
    fill: var(--btn-c-primary);
}

.hide {
    display: none;
}

button {
    border: none;
    cursor: pointer;

    transition: transform .3s;
}

button:hover {
    transform: scale(1.1);
}

body {
    height: 100vh;
    background: var(--bg-primary);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--ff-primary);
    font-size: 1.6rem;
}

.app-wrapper {
    text-align: center;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.timer {
    display: flex;
    flex-direction: column;
}

.timer-display {
    font-size: 8.8rem;
    font-weight: bold;
    color: var(--tt-primary);

    font-size: 12.6rem;
    line-height: 14.8rem;
}

.controls {
    display: flex;
    gap: 3.2rem
}

.controls button {
    background: transparent;
}

.songs {
    display: grid;
    grid-template-areas:
        "A B"
        "C D";
    gap: 3.2rem;
}

.songs .selected {
    background: var(--btn-bg-selected);
}

.songs .selected svg path {
    fill: var(--btn-c-selected);
}

.songs button {
    width: 13.8rem;
    height: 15.2rem;
    border-radius: 2.4rem;
}
